In [56]:
import pandas as pd
import numpy as np
import sqlite3

In [76]:
conn = sqlite3.connect("data.sqlite")

In [77]:
cur = conn.cursor()

In [78]:
cur.execute("select * from products;")
results = cur.fetchall()

In [79]:
print(results)

[]

In [80]:
#df = pd.DataFrame(results)

In [81]:
#df.to_csv('products')

In [82]:
# cur.execute("select * from reviews;")
# results = cur.fetchall()
# results

In [83]:
cur.execute("select * from users;")
results = cur.fetchall()
results

[(0,
  1,
  'sidearmjohnny@gmail.com',
  'John',
  'Running',
  'sidearmjohnny',
  '1234',
  'Admin',
  1,
  'pbkdf2:sha256:50000$Yj9KzYUA$93f956a26aa76df5286e858e8d8439a1f095b2203977d57b820817a55eb7bc18')]

In [66]:
cur.execute("UPDATE users SET role = 'Admin' WHERE id = 1;")
execute = cur.fetchall()

In [75]:
cur.execute("select * from users;")
df = cur.fetchall()
df

ProgrammingError: Cannot operate on a closed database.

In [70]:
df = pd.DataFrame(df)

In [71]:
df

,0,1,2,3,4,5,6,7,8
0,1,sidearmjohnny@gmail.com,John,Running,sidearmjohnny,1234,Admin,1,pbkdf2:sha256:50000$Yj9KzYUA$93f956a26aa76df52...

In [72]:
df.to_sql("users", conn, if_exists="replace")

In [74]:
conn.close()